<div class="container-xl">
  <div class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-6">
            <h4><b>View Major</b></h4>
          </div>
          <div class="col-sm-6">
            <a href="#" routerLink="/Home" class="btn btn-success back"><i class='fas fa-arrow-circle-left'></i> &nbsp;Back</a>
          </div>
        </div>
      </div>       
      <table class="table table-striped table-hover table-bordered table-content">
        <tbody>
          <tr>
            <td><label><b>ID</b></label></td>
            <td><span>{{ majorDetail.id }}</span></td>
          </tr>
          <tr>
            <td><label><b>Name</b></label></td>
            <td><span>{{ majorDetail.name }}</span></td>
          </tr>
          <tr>
            <td><label><b>Code</b></label></td>
            <td><span>{{ majorDetail.code }}</span></td>
          </tr>
        </tbody>
      </table>       
    </div>
  </div>
</div>


